# Dependencies
package-lock.json
node_modules

# Directories
lib
dts

# Dumb
.DS_Store

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
